 <div class="container" style="margin-top: 10%;">
    <h1 class="text-center" style="color: #ffffff">CHATAPP</h1>
    <div class="container">
        <div class="row text-center" style="margin-top: 2%;">
            <div class="col text-right">
                <button mat-stroked-button style="border-color: #005d57; color: #ffffff; width: 110px;" (click)="openQuickRoomDialog()">Quick Room</button>
            </div>
            <div class="col text-left">
                <button mat-raised-button style="background-color: #04b97f; width: 110px;" (click)="openLogIngDialog()">Log In</button>
            </div>
        </div>
    </div>
 </div>

