.chat {
    width: 80%;
    height: 100%;
    background-color: #26282f;
    position: absolute;
    padding: 50px 50px 20px 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.side-content {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 80%;
}

.chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px 50px 20px 50px;
}

.chat-input-input {
    width: 100%;
    background-color: #26282f;
    border: none;
    border-bottom: 2px solid #373741;
    color: white;
    outline: none;
}

.message-date {
    color: #5c5c64;
    font-size: 12px;
    margin-bottom: 12px;
}

.message-row {
    align-items: center;
    margin: 0 !important;
}

.message-user {
    margin-left: 15px;
    font-size: 15px;
}

.message-msg {
    color: #ffffff;
    font-size: 15px;
    padding-left: 15px;
}

.chat-content {
    overflow: auto;
    max-height: 90%;
}

.chat-content::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.chat-content::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.26);
}

.share-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
    text-align: center;
}

.share-button-button {
    color: #04b97f;
    font-size: 12px;
    background-color: #373740;
}

.notifications {
    padding-top: 20px;
    height: 70%;
}

.notification-content {
    padding-left: 20px;
    padding-top: 10px;
    overflow: auto;
    max-height: 100%;
}

.notification-title {
    color: #e6e6e8;
    text-align: center;
    font-size: 18px;
}

.notification-title-room {
    font-size: 20px;
    color: #ff6859;;
}

.notification-row {
    align-items: center;
    margin: 0 !important;
    padding-bottom: 2px;
}

.notification-date{
    margin: 0;
    color: #5c5c64;
    font-size: 10px;
}

.notification-user{
    margin: 0;
    font-size: 12px;
    padding-left: 10px;
}

.notification-msg {
    margin: 0;
    font-size: 12px;
    padding-left: 10px;
    color: #e6e6e8;
}

.notification-content::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.notification-content::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.26);
}

.typing-notification {
    color: #e6e6e8;
}