<div class="chat">
	<div class="chat-content">
		<div *ngFor="let message of messages" class="row message-row">
			<div>
				<p class="date">{{message.date}}</p>
			</div>
			<div>
				<p class="user">{{message.user}}</p>
			</div>
			<div>
				<p class="msg">{{message.content}}</p>
			</div>
		</div>
	</div>
	<span *ngIf="isTyping">{{userTyping}}</span>
	<div class="chat-input">
		<input maxlength="140" placeholder="Type your message" [(ngModel)]="message"
			(keyup.enter)="sendMessage(message)" (keyup.backspace)="onNotTyping()" (input)="onTyping()"
			class="chat-input-input">
	</div>
</div>
<div class="side-content">
	<div class="notifications">
		<div class="notification-title">
			<span>Welcome to <span class="notification-title-room">{{room}}</span>!</span>
		</div>
		<div class="notification-content">
			<div *ngFor="let notification of notifications" class="row notification-row">
				<div>
					<p class="date">{{notification.date}}</p>
				</div>
				<div>
					<p class="user">{{notification.user}}</p>
				</div>
				<div>
					<p class="msg">{{notification.message}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="share-button">
		<button mat-raised-button (click)="shareRoom()" class="share-button-button">SHARE ROOM</button>
	</div>
</div>